<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188233295143-9ssi968tp158kllkbaljsblk5ucnqkao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188233295143-9ssi968tp158kllkbaljsblk5ucnqkao</string>
	<key>API_KEY</key>
	<string>AIzaSyBEx2cs4vRmpVj_Ly0bZU7LOKP312QmPjA</string>
	<key>GCM_SENDER_ID</key>
	<string>188233295143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chat</string>
	<key>PROJECT_ID</key>
	<string>chatnew-b6476</string>
	<key>STORAGE_BUCKET</key>
	<string>chatnew-b6476.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188233295143:ios:dafd1ce5c886b3da03b502</string>
	<key>DATABASE_URL</key>
	<string>https://chatnew-b6476-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>